@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--Background);
  transition: background 0.25s ease-in-out;
  overscroll-behavior: none;
}

body[data-theme="light"] {
  --Background: hsl(0, 0%, 98%);
  --Secondary: white;
  --InputBG: white;
  --InputPlaceholder: hsl(0, 0%, 52%);
  --Text: hsl(200, 15%, 8%);
  --HoverText: hsla(200, 15%, 8%, 0.604);
}

body[data-theme="dark"] {
  --Background: hsl(207, 26%, 17%);
  --Secondary: hsl(209, 23%, 22%);
  --InputBG: hsl(209, 23%, 22%);
  --InputPlaceholder: white;
  --Text: white;
  --HoverText: rgba(255, 255, 255, 0.67);
}

ul {
  list-style-type: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
