.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px;
  height: 80px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 5.62%);
  background-color: var(--Secondary);
  color: var(--Text);
  transition: background 0.25s ease-in-out;
}

.header .mode {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
