.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 40px;
  width: 126px;
  border-radius: 6px;
  border: none;
  background-color: var(--Secondary);
  color: var(--Text);
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.25s ease-in-out;
}
